
  .symbol{
    width: 200px;
  }
  .img {
    height: 100%;
    width: 100%;
    max-width: 100px; /* for logo */
    max-height: 100px; /* for logo */
  } 

  .grid { /* boxes side by side */
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 12pc;
    padding-left: 3pc;
    padding-right: 3pc;
    padding-bottom: 12pc;
    
  }
  
  