/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
  }
  
  .card img {
    width: 100%;
  }
  
  .card .card-content {
    padding: 2px 16px;
  }
  
  .card .card-footer {
    padding: 2px 16px;
    background-color: #f1f1f1;
  } */

.cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.itemCont{
    flex-basis: 46%;
    max-width: 50%;
    border: 2px solid black;
    border-radius: 2pc;
    height: 140px;
    margin-bottom: 10px;
}
.titlePlus{
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: cursive;
    font-size: 20px;
}