#app { height: 100% }
html,
body {
  /* position: relative; */
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
/* 
.test{
<<<<<<< HEAD
  height: 3000px;
}
=======
  height: 1000px;
} */
>>>>>>> 3333cad712ecb0af095c33106caebf8dfada859c
